body {
	background-image: url("Detroit Skyline.jpg");
	font-family: 'aleo', sarif;
}

.header {
	text-align: center;
	margin-bottom: 100px;
}

.data {
	margin-left: 20vw;
}

.box {
	border: 3px solid black;
	margin-right: 50vw;
	padding: 10px;
	background-color: white;
}